@font-face {
    font-family: 'BilderbergItalic';
    src: url('fonts/bilderberg.italic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

h1 {

  font-family: 'BilderbergItalic', sans-serif; 
  font-size: 70px;
  color: rgb(83, 2, 88); 
  opacity: 0.7; 
  text-align: left;
 
}
body {
  background-color: rgb(157, 139, 157);
  
}
h2[id = role]{

  color: rgb(83, 2, 88); 
  opacity: 0.5;
}
h2[id= "about"] {

    font-family: 'BilderbergItalic', sans-serif;
    color: rgb(83, 2, 88);
    opacity: 0.7; 
    margin: auto;
}

/*section[id = "about"] {
       background-color: rgb(196, 69, 196);
}*/
/*header {
        background-color: rgb(155, 101, 155);
}*/